.Button {
  background-color: #2d4059;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1px;
  border: solid 1px #0d131b;
  font-size: 24px;
}

.Button:hover {
  padding: 0px;
  border: solid 2px #ff8c32;
  grid-auto-columns: 2fr;
  color: #ff8c32;
  filter: brightness(90%);
}

.NumberButton {
  background-color: #2d4059;
}

.OperatorButton {
  background-color: #6c798b;
}

.ClearButton {
  background-color: #ff2442;
  grid-column: 1 / 3;
}

.EqualsButton {
  background-color: #3db2ff;
  grid-column: 4;
  grid-row: 4 / 6;
}

#zero {
  grid-column: 1/ 3;
}
